@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

.document {
  $aside-width: 200px;
  margin-top: 55px;
  min-height: calc(100svh - 155px);
  background-color: #f7f8f7;
  font-family: 'pretendard-regular';
  color: black;
  display: flex;
  .aside {
    min-width: $aside-width;
    padding: 20px;
    min-height: calc(100svh - 40px);
    border-right: 2px solid black;
    position: sticky;
    position: -webkit-sticky;
    top: 55px;
    align-self: flex-start;
    background: linear-gradient(#f1fad1, #e9f6b9);
    display: flex;
    flex-direction: column;
    gap: 20px;
    details {
      summary {
        color: #8ba91f;
        font-weight: 900;
        cursor: pointer;
        font-size: 20px;
      }
      ul {
        list-style: none;
        padding-left: 20px;
        li {
          padding: 5px 0;
          cursor: pointer;
          &:hover {
            background-color: #f7f8f7;
          }
        }
      }
    }
  }
  .main {
    padding: 0 50px;
    padding-bottom: 100px;
    width: calc(100svw - #{$aside-width});
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      padding: 30px 0;
      font-weight: 900;
      border-bottom: 2px solid black;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
    ol,
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    li {
      margin-left: 30px;
    }
    code {
      font-family: 'Pretendard-Regular';
      color: #8ba91f;
      background: linear-gradient(#e9f6b9, #f1fad1);
      padding: 5px;
      border-radius: 5px;
    }
    pre {
      background: black;
      color: white;
      padding: 20px;
      border-radius: 10px;
      overflow-y: visible;
      code {
        background: none;
        color: white;
      }
    }
    th {
      text-align: left;
    }
    td {
      padding: 7px 0;
    }
  }
}
