@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.skillTree {
  font-family: 'GeekbleMalang2WOFF2';
  color: white;
  position: absolute;
  top: 80px;
  left: 30px;
  z-index: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.35);

  .skillList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .toggleButton {
    font-family: 'GeekbleMalang2WOFF2';
    background-color: rgba(0, 0, 0, 0.35);
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
  }
}

.closed {
  height: 80px;
}