@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.dashboard {
  font-family: 'GeekbleMalang2WOFF2';
  color: white;
  font-size: 20px;
  .bottom {
    z-index: 1;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    .score {
      padding: 10px 15px;
      border-radius: 12px;
      display: flex;
      justify-content: right;
      background-color: rgba(0, 0, 0, 35%);
      margin-bottom: 16px;
    }
    .coordinates {
      padding: 18px 30px;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      background-color: rgba(0, 0, 0, 35%);
      margin-bottom: 16px;
    }
    .animation {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      input[type='checkbox'] {
        width: 20px;
        height: 20px;
        margin-left: -25px;
        cursor: pointer;
      }
    }
    .bomb {
      display: flex;
      align-items: center;
      margin-left: -10px;
      cursor: pointer;
      &.bombMode {
        border: 5px solid red;
        margin-top: -5px;
        margin-bottom: -5px;
        border-radius: 10px;
      }
    }
    .toggle {
      padding: 18px;
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 35%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      cursor: pointer;
      svg {
        margin-left: 0;
      }
    }
    svg {
      position: absolute;
      margin-left: -30px;
    }
    p {
      margin-left: 20px;
      width: 80%;
      text-align: left;
    }
    .zoom {
      padding: 18px;
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 35%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .buttons {
        width: 60%;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        button {
          background-color: rgba(0, 0, 0, 25%);
          width: 50%;
          font-size: 30px;
          border: none;
          cursor: pointer;
          font-family: 'GeekbleMalang2WOFF2';

          &:first-child {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
          }
          &:last-child {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 35%);
          }
          &:active {
            background-color: rgba(0, 0, 0, 50%);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
